[core]
    editor = nano
    pager = delta
	excludesFile = ~/.gitignore

[init]
    defaultBranch = main

[alias]
    # git brecent: cargo install xcol
    a = add
    s = status
    d = diff
    ds = diff --staged
    c = commit
    cm = commit -m
    ca = commit --amend
    cam = commit --amend -m
    rank = shortlog -sn --no-merges
    hist = log --decorate --graph --date=short --pretty=\"format:%C(blue)%ad%Creset %C(magenta)%h%C(green)%d%Creset %C()%s %C(black) [%an]%Creset\"
    cplain = log --pretty=format:\"%h %cr %cn %Cgreen%s%Creset\"
    cfiles = log --pretty=format:\"%h %cr %cn %Cgreen%s%Creset\" --name-status
    cdesc = log --pretty=format:\" * %s\"
    brecent = !script -efq -O /dev/null -c \"git branch --sort=-HEAD --sort=-committerdate --format='%(HEAD) %(if:equals=*)%(HEAD)%(then)%(color:green)%(end)%(refname:short)%(color:reset)￿%(committerdate:relative)￿%(authorname)￿%(objectname:short)￿%(contents:subject)'\" | xcol -s ￿
    bupstream = branch --sort=-upstream --sort=-HEAD --format='%(HEAD) %(if:equals=*)%(HEAD)%(then)%(color:green)%(end)%(refname:short)%(color:reset) %(if:notequals=)%(upstream)%(then)[%(color:blue)%(upstream:short)%(color:reset)]%(end)'

[merge]
  summary = true
  verbosity = 1
  tool = kdiff3

[delta]
    features = side-by-side line-numbers decorations
    syntax-theme = Dracula
    plus-style = syntax "#003800"
    minus-style = syntax "#3f0001"
    navigate = true

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
    hunk-header-decoration-style = cyan box ul

[delta "line-numbers"]
    line-numbers-left-style = cyan
    line-numbers-right-style = cyan
    line-numbers-minus-style = 124
    line-numbers-plus-style = 28

[interactive]
    diffFilter = delta --color-only