[core]
    editor = nano
    pager = delta
    excludesFile = ~/.gitignore

[init]
    defaultBranch = main

[alias]
    a = add
    au = add -u
    ap = add -p
    s = status
    d = diff
    ds = diff --staged
    dst = diff --stat
    dsst = diff --staged --stat
    dlc = diff HEAD~1 HEAD
    c = commit
    cm = commit -m
    ca = commit --amend
    cam = commit --amend -m
    can = commit --amend --no-edit
    co = checkout
    cob = checkout -b
    rbi = rebase -i
    de = "!f() { if [[ $1 == *\"..\"* ]]; then commits=\"$1\"; index=2; else commits=\"$1..$2\"; index=3; fi; cmd=\"git diff $commits -- .\"; for i in \"${@:$index}\"; do cmd+=\" ':!$i'\"; done; bash -c \"$cmd\"; }; f"
    des = "!f() { if [[ $1 == *\"..\"* ]]; then commits=\"$1\"; index=2; else commits=\"$1..$2\"; index=3; fi; cmd=\"git diff $commits --stat -- .\"; for i in \"${@:$index}\"; do cmd+=\" ':!$i'\"; done; bash -c \"$cmd\"; }; f"
    rank = shortlog -sn --no-merges
    l = log --decorate --graph --date=short --pretty=\"format:%C(blue)%ad%C(reset) %h %C(green)%an %C(reset)%s\"
    ll = lref
    lr = log --decorate --graph --date=short --pretty=\"format:%C(blue)%ar%C(reset) %h %C(green)%an %C(reset)%s\"
    lref = log --decorate --graph --date=short --pretty=\"format:%C(blue)%ad%C(reset) %h %C(magenta)%an%C(green)%d%C(reset) %s\"
    lrref = log --decorate --graph --date=short --pretty=\"format:%C(blue)%ad%C(reset) %h %C(magenta)%an%C(green)%d%C(reset) %s %C(blue)[%ar]\"
    hist = log --decorate --graph --date=short --pretty=\"format:%C(blue)%ad%C(reset) %C(magenta)%h%C(green)%d%C(reset) %s\"
    cplain = log --pretty=format:\"%h %cr %cn %C(green)%s%C(reset)\"
    cfiles = log --pretty=format:\"%h %cr %cn %C(green)%s%C(reset)\" --name-status
    cdesc = log --pretty=format:\" * %s\"
    b = branch --sort=-committerdate --sort=-HEAD --format='%(HEAD) %(if:equals=*)%(HEAD)%(then)%(color:green)%(end)%(refname:short)'
    bupstream = branch --sort=-upstream --sort=-HEAD --format='%(HEAD) %(if:equals=*)%(HEAD)%(then)%(color:green)%(end)%(refname:short)%(color:reset) %(if:notequals=)%(upstream)%(then)[%(color:blue)%(upstream:short)%(color:reset)]%(end)'
    ba = branch -a
    bc = branch --show-current
    br = branch -m
    brecent = !script -efq -O /dev/null -c \"git branch --sort=-HEAD --sort=-committerdate --format='%(HEAD) %(if:equals=*)%(HEAD)%(then)%(color:green)%(end)%(refname:short)%(color:reset)￿%(committerdate:relative)￿%(authorname)￿%(objectname:short)￿%(contents:subject)'\" | xcol -s "￿"
    bupstream = branch --sort=-upstream --sort=-HEAD --format='%(HEAD) %(if:equals=*)%(HEAD)%(then)%(color:green)%(end)%(refname:short)%(color:reset) %(if:notequals=)%(upstream)%(then)[%(color:blue)%(upstream:short)%(color:reset)]%(end)'
    whois = "!bash -c 'git log -i -1 --pretty=\"format:%an <%ae>\n\" --author=\"$1\"' -"
    root = rev-parse --show-toplevel

[merge]
  summary = true
  verbosity = 1
  tool = kdiff3

[delta]
    features = side-by-side line-numbers decorations
    syntax-theme = Dracula
    plus-style = syntax "#003800"
    minus-style = syntax "#3f0001"
    navigate = true

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
    hunk-header-decoration-style = cyan box ul

[delta "line-numbers"]
    line-numbers-left-style = cyan
    line-numbers-right-style = cyan
    line-numbers-minus-style = 124
    line-numbers-plus-style = 28

[interactive]
    diffFilter = delta --color-only

[sequence]
    editor = interactive-rebase-tool
